body{
    background-color: #9CBBE5;
}

#frame{
    width: 480px;
    height: 360px;
    border: 1px white solid;

    position: relative;

    display: block;
    left: 50%;
    transform: translateX(-240px);

    top: 60px;
}